<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UniversityDataBaseContainer" connectionString="metadata=res://*/Data.Model.UniversityDataBase.csdl|res://*/Data.Model.UniversityDataBase.ssdl|res://*/Data.Model.UniversityDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=dbBrowserDataBase-GV;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>